    <li><a href="/">Inicial</a></li>
    <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/acerca">Sobre nós</a></li>
     <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/anuncios">Anúncios</a></li>
     <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/estudantes_honra">Estudantes de Honra</a></li>
     <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
     <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/portal_estudante">Portal do Estudante</a></li>
     <li class=<%=`${separator}`%>><div class="separator"></div></li>
    <li><a href="/domjaca/alums">Alums</a></li>
