<%- include('../components/Header',{title:__('HonorsStudents')}) %>
<%- include('../components/Menus') %>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1><%= __('HonorsArea')%></h1>
            <h2><%= __('ExcellentStudents')%></h2>
        </section>
        <section class="missaoContainer">
            <div class="textContainer">
                <h1><%= __('HonorsStudents')%> 2024</h1>
                <section class="honraContainer flexV">
                    <div class="studentContainerHonor flexH">
                        <div class="studentPicture">
                        </div>
                        <p>Graciano Manuel Henrique</p>
                        <p>Média: 15 V</p>
                    </div>
                    <div class="studentContainerHonor flexH">
                        <div class="studentPicture">
                        </div>
                        <p>Graciano Manuel Henrique</p>
                        <p>Média: 15 V</p>
                    </div>
                </section>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>
    </main>
    <%- include('../components/Footer',{title:"Escola Dom Jaca"}) %>